RewriteEngine on
RewriteBase /~vivek.ghaisas/karyakshetra/
RewriteCond $1 !^(index\.php|scripts|fonts|styles|images|robots\.txt)
RewriteRule ^(.*)$ index.php/$1 [L]

#Prevent caching
<filesMatch "\.(html|htm|js|css|php)$">
  FileETag None
  <ifModule mod_headers.c>
     Header unset ETag
     Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
     Header set Pragma "no-cache"
     Header set Expires "Wed, 11 Jan 1984 05:00:00 GMT"
  </ifModule>
</filesMatch>
