<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="css/interface.css">
        <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="interface">
            <div class="menubar">
                <div class="level">
                    <div class="btn btn-big">
                        <i class="fa fa-plus"></i> Create
                    </div>
                    <div class="btn active btn-big">
                        <i class="fa fa-pencil"></i> Edit
                    </div>
                    <div class="btn btn-big">
                        <i class="fa fa-edit"></i> Format
                    </div>
                </div>
                <div class="level level-two blue">
                    <div class="btn btn-icon-only">
                        <i class="fa fa-print"></i>
                    </div>
                    <div class="btn btn-icon-only">
                        <i class="fa fa-coffee"></i>
                    </div>
                    <div class="btn btn-icon-only">
                        <i class="fa fa-picture-o"></i>
                    </div>
                    <div class="btn btn-icon-only">
                        <i class="fa fa-rss"></i>
                    </div>
                    <div class="btn btn-icon-only">
                        <i class="fa fa-pencil"></i>
                    </div>
                    <div class="btn btn-icon-only">
                        <i class="fa fa-qrcode"></i>
                    </div>
                    <div class="btn btn-icon-only">
                        <i class="fa fa-laptop"></i>
                    </div>
                    <div class="btn btn-icon-only">
                        <i class="fa fa-pencil"></i>
                    </div>
                    <div class="btn btn-icon-only">
                        <i class="fa fa-edit"></i>
                    </div>
                    <div class="btn btn-icon-only">
                        <i class="fa fa-plus"></i>
                    </div>
                    <div class="btn btn-icon-only">
                        <i class="fa fa-pencil"></i>
                    </div>
                    <div class="btn btn-icon-only">
                        <i class="fa fa-edit"></i>
                    </div>
                </div>
                <div class="level level-two blue">
                    <div class="btn btn-icon-only">
                        <i class="fa fa-print"></i>
                    </div>
                    <div class="btn btn-icon-only">
                        <i class="fa fa-coffee"></i>
                    </div>
                    <div class="btn btn-icon-only">
                        <i class="fa fa-picture-o"></i>
                    </div>
                    <div class="btn btn-icon-only">
                        <i class="fa fa-rss"></i>
                    </div>
                    <div class="btn btn-icon-only">
                        <i class="fa fa-pencil"></i>
                    </div>
                    <div class="btn btn-icon-only">
                        <i class="fa fa-qrcode"></i>
                    </div>
                    <div class="btn btn-icon-only">
                        <i class="fa fa-laptop"></i>
                    </div>
                    <div class="btn btn-icon-only">
                        <i class="fa fa-pencil"></i>
                    </div>
                    <div class="btn btn-icon-only">
                        <i class="fa fa-edit"></i>
                    </div>
                    <div class="btn btn-icon-only">
                        <i class="fa fa-plus"></i>
                    </div>
                    <div class="btn btn-icon-only">
                        <i class="fa fa-pencil"></i>
                    </div>
                    <div class="btn btn-icon-only">
                        <i class="fa fa-edit"></i>
                    </div>
                </div>
                
            </div>
            <div class="editable"></div>
        </div>
        
        <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> -->
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
    </body>
</html>
