* {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    /* No support for these yet */
    -o-user-select: none;
    user-select: none;
}
.drawing-elements, .select-area {
    pointer-events:all;
}

.drawing-elements.active, .select-area {
    cursor:move !important;
}

.rotate-pivot {
    cursor:crosshair;
}