.column {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
}
.explorer,
.new-file {
    width: 20%;
}

.file-list {
    background-color: #fafafa;
    width: 80%;
    border: 1px solid #ccc;
    border-bottom: none;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    -o-user-select: none;
    user-select: none;   
}
.file a {
    color: #057cb8;
    text-decoration: none;
}

.file a:hover {
    text-decoration: underline;
}

.file {
    padding: 0.5em;
    border-bottom: 1px solid #ccc;
    color: #057cb8;
    display: block;
    text-decoration: none;
    transition: 0.3s background-color;
    cursor: pointer;
}

.file:hover {
    background-color: #eee;
    transition: 0.3s background-color;
}

.file.focus {
    background-color: darkorange;
    color: white;
}

.file.focus a {
    color: white;
}

input[type=checkbox].file-selector {
    margin-top: 1px;
    margin-right: 5px;
    visibility: hidden;
}

.file:hover input[type=checkbox].file-selector {
    visibility: visible;
}

.file input[type=checkbox]:checked {
    visibility: visible;
}

.new-file {
    padding-right: 5px;
}

.module-link {
    display: block;
    background-color: #fafafa;
    font-size: 1.2em;
    padding: 1.2em 0.4em;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    color: #057cb8;
    text-decoration: none;
    transition: 0.3s background-color, 0.3s color;
}

.module-link:hover {
    background-color: #00a400;
    color: white;
    transition: 0.3s background-color, 0.3s color;
}