.interface {
    font-family: 'Source Sans Pro', sans-serif;
}

.toolbars {
    background-color: #333;
    position: relative;
    box-shadow: 0 0 2px 2px #333;
    z-index: 10;
}
.clearfloat:before,
.clearfloat:after,
.bar:before,
.bar:after {
    content: " ";
    display: table;
}
.clearfloat:after,
.bar:after {
    clear: both;
}

.clearfloat,
.bar {
    *zoom: 1;
}

.bar .btn {
    float: left;
}

.btn {
    background-color: transparent;
    color: #f5f5f5;
    text-align: center;
}

.btn-big {
   padding: 15px 25px 15px 15px;
}

.btn i {
    margin-right: 2px;
}

.btn-icon {
    line-height: 1.28571em;
    height: 1.28571em;
    width: 1.28571em;
    padding: 2px;
    margin: 4px;
    border: 1px solid transparent;
    transition: background-color 0.1s, box-shadow 0.1s, background-color 0.1s;
}

.btn-text {
    width: auto;
}

/* Custom fixed width */
i.fa.fa-cfw {
    width: 1em;
    text-align: center;
}

.btn-text .btn-intext {
    margin-right: 2px;
}

.btn-icon i {
    margin-right: 0;
}

.bar-sub {
    font-size: 1.25em;
}

.blue.bar-sub{
    background-color: #057cb8;
}

.green.bar-two {
    background-color: green;
}


.btn-big:hover {
    background-color: #065A84;
}

.btn-big.active {
    background-color: #057cb8;
}

.btn:hover {
    cursor: pointer;
}

.btn-icon:hover {
    text-shadow: none;
    background-color: #0F88C4;
    xborder-color: #006BA0;
    border-radius: 4px;
    box-shadow: 0 0 1px 2px #0672A8;
    transition: background-color 0.1s, box-shadow 0.1s, background-color 0.1s;
}

.btn-icon.active,
.btn-icon:active {
    color: orange;
    xtext-shadow: -3px -3px 7px #A0D0D6, 3px 3px 7px #A0D0D6;
    text-shadow: none;
}

.sep {
    float: left;
    color: white;
    line-height: 1em;
    height: 1em;
    padding: 10px 4px;
    color: white;
    opacity: 0.5;
}

.bar.bar-sub {
    box-shadow: 0 -3px 3px #252525;
}

.editable {
    width: 100%;
    background-color: #eee;
    position: relative;
    z-index: 0;
}

.randombox {
    width: 200px;
    background-color: white;
    padding: 10px;
    position: absolute;
    top: 200px;
    left: 200px;
    z-index: 100;
    border-radius: 0 0 2px 2px;
    box-shadow: 0 3px 10px 2px #aaa;
}

.color {
    height: 18px;
    width: 18px;
    background-color: #ccc;
    float: left;
    margin: 1px;
}

.color.active {
    outline: 2px solid #444;
}

.color:hover {
    cursor: pointer;
    outline: 2px solid #111;
}

