.sidebar{
    float: left;
    height: 100%;
    width: 20%;
    overflow-y:scroll;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    background-color:#ddd;
    border-right: 1px solid black;
}

.side-no{
    float: left;
    clear:left;
    width: 10%;
    padding-top: 5px;
}
.side-slide{
    margin: 5px 0px 5px 0px;
    float: left;
    clear: right;
    width: 90%;
    position: relative;
    overflow: hidden;
    box-shadow:0px 0px 5px 0px #888888;
    border: 2px solid rgba(255,255,255,0);
    -moz-box-sizing:border-box;
    box-sizing: border-box;
}
.side-slide.active{
    border: 2px solid red;
}

.slides{
    float: left;
    height: 100%;
    width: 80%;
    overflow:hidden;
    background-color: #ddd;
    position: relative;
}

.slide{
    margin: auto;
    position: relative;
    box-shadow:0px 0px 5px 5px #888888;
}

.slide-show{
    overflow: hidden;
}

.slide-title{
    position: absolute;
    width:100%;
}

.slide-text{
    position: absolute;
    width:100%;
}

.slide-img{
    position: absolute;
    width:100%;
}

.elem{
    border: 1px dotted #888;
    margin: 0;
    padding: 0;
    cursor: move;
    overflow: hidden;
    -moz-box-sizing:border-box;
    box-sizing: border-box;
}
.elem.active{
    box-shadow: 0px 0px 5px 2px red;
}
.elem.active.edit{
    box-shadow: 0px 0px 5px 2px blue;
}
.elem-side{
    margin: 0;
    padding: 0;
    cursor: default;
    overflow: hidden;
    -moz-box-sizing:border-box;
    box-sizing: border-box;
}
.elem-text{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
.elem-text:focus{
    outline: none;
}
/* A chrome contenteditable span problem fix */
.elem-text p, span{
    font-size: inherit  !important;
    line-height: inherit    !important;
}

.elem-img{
    height: 100%;
    width: 100%;
}
.resize{
    position: absolute;
}
.resize-r{
    right: -5px;
    top: 0;
    width: 10px;
    height: 100%;
    cursor: e-resize;
}
.resize-l{
    left: -5px;
    top: 0;
    width: 10px;
    height: 100%;
    cursor: w-resize;
}
.resize-t{
    left: 0;
    top: -5px;
    width: 100%;
    height: 10px;
    cursor: n-resize;
}
.resize-b{
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 10px;
    cursor: s-resize;
}
.resize-tr{
    top: -5px;
    right: -5px;
    height: 10px;
    width: 10px;
    cursor: ne-resize;
}
.resize-tl{
    top: -5px;
    left: -5px;
    height: 10px;
    width: 10px;
    cursor: nw-resize;
}
.resize-bl{
    bottom: -5px;
    left: -5px;
    height: 10px;
    width: 10px;
    cursor: sw-resize;
}
.resize-br{
    bottom: -5px;
    right: -5px;
    height: 10px;
    width: 10px;
    cursor: se-resize;
}

.elem-pres{
    margin: 0;
    padding: 0;
    cursor: default;
    overflow: hidden;
    -moz-box-sizing:border-box;
    box-sizing: border-box;
}

.end-pres{
    position: absolute;
    right: 0px;
    top: 0px;
    text-align: center;
    line-height: 1.3em;
    height: 1.3em;
    width: 1.3em;
    font-size:1.3em;
    padding: 2px;
    margin-right: 2px;
    border-radius: 0px 0px 5px 5px;
    background-color: #057cb8;
    cursor: default;
}

.pres-end-mes{
    margin: auto;
    color: white;
}
